* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Tourney', Arial, cursive;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.filter {
  display: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.background {
  filter: blur(9px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.background__blur {
  filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 3px;
  position: relative;
  margin: 100px auto;
  width: 100%;
  height: 100%;
}

.board__grid-line {
  filter: blur(1px);
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.board__cell {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.board__line-horizon,
.board__line-vertical {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 7px 2px blue;
  border-radius: 10px;
}

.board__line-horizon {
  height: 2px;
  width: 0;
  transition: width 2s;
}

.board__line-vertical {
  height: 0;
  width: 2px;
  transition: height 2s;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
}

.circle,
.cross {
  position: absolute;
  height: 100%;
  width: 100%;
}

.startMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50.93vh;
  height: 86.57vh;
  padding: 15px;
}

.startMenuTitle {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.startMenuTitle__item {
  position: relative;
  width: 32%;
  margin: 0 2%;
}

.startMenuTitle__text {
  color: white;
  font-weight: 200;
  font-size: 60px;
  z-index: 100;
}

.startMenuTitle__text::before,
.gameButton::before,
.move::before {
  content: 'VS';
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  color: transparent;
  z-index: -1;
  text-shadow: 0 0 10px blue;
}

.gameButton {
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-weight: 200;
  font-size: 0;
  color: transparent;
  user-select: none;
  z-index: 100;
  transition: font-weight 0.1s, color 1s, font-size 0.5s linear;
}

.gameButton::before,
.move::before {
  content: attr(data-title);
  text-align: center;
  width: 100%;
}

.gameButton:hover {
  font-weight: 400;
}
.gameButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 0;
  transition: height 0.5s;
}

.gameButton:hover::after {
  background-color: blue;
  height: 30%;
  width: 100%;
  border-radius: 70%;
  filter: blur(25px);
}

.gameButton:active::after {
  background-color: blue;
  height: 80%;
  width: 100%;
  border-radius: 70%;
  filter: blur(25px);
}

.move {
  position: relative;
  font-weight: 200;
  font-size: 50px;
  color: white;
  user-select: none;
}

.gameButton__menu,
.gameButton__restart,
.move {
  height: 90px;
  line-height: 90px;
  z-index: 100;
  margin: 25px 0;
}

.gameButton__menu::before {
  text-shadow: 0 0 10px red;
}
.gameButton__menu:active::after {
  background-color: red;
}
.gameButton__menu:hover::after {
  background-color: red;
}

.gameButton__restart::before {
  text-shadow: 0 0 10px #09de09;
}
.gameButton__restart:active::after {
  background-color: #09de09;
}
.gameButton__restart:hover::after {
  background-color: #09de09;
}

#signMore {
  height: 400px;
  width: 100%;
  position: relative;
}

.victory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.victory__elem {
  z-index: 1000;
  animation-name: victory__animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes victory__animation {
  0% {
    transform: scale(1) rotate(15deg);
  }

  50% {
    transform: scale(1.5) rotate(-15deg);
  }

  100% {
    transform: scale(1) rotate(15deg);
  }
}
