* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 3px;
  position: relative;
  margin: 100px auto;
  width: 500px;
  height: 500px;
  background: black;
  box-shadow: 0px 0px 6px 5px black;
}

.board__grid-line {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.board__cell {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.board__line-horizon {
  height: 3px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 5px blue;
  border-radius: 10px;
}

.board__line-vertical {
  height: 100%;
  width: 3px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px blue;
  border-radius: 10px;
}

.sign_x {
  width: 75%;
  height: 75%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign_x::after,
.sign_x::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  box-shadow: 0px 0px 10px 5px red;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.sign_x::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sign_o {
  width: 54%;
  height: 54%;
  box-shadow: 0px 0px 10px 5px #09de09;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign_o::after,
.sign_o::before {
  content: '';
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign_o::before {
  content: '';
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 10px 5px #09de09;
}

.sign_o::after {
  border: 5px solid white;
}
